<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <link rel="icon" type="image/png" href="{{ '/assets/img/logo.png' | relative_url }}">
</head>

<body>

  {% include header.html %}

  <main class="container">
    {{ content }}
  </main>

  {% include footer.html %}

</body>

</html>